
  
  .slide-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px; 
    height: auto; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .tilted-card {
    transform: rotate(-10deg);
    color: #fff;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide-card {
    flex: 0 0 calc(100% / 4); 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .slider.slide {
    transform: translateX(calc(-100% / 3)); 
  }
  
  .slider-button {
    margin-top: 10px;
    cursor: pointer;
  }
  

  .scrolling::-webkit-scrollbar {
    background-color: #ffffff;
    width: 5px;
  }
  .scrolling::-webkit-scrollbar-thumb {
    background-color: #b39ff8;
  }
  .scrolling1::-webkit-scrollbar {
    display:none;
  }